<app-navigation *ngIf="(authService.authenticated$ | async) && authService.isInRole('Admin')"></app-navigation>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<ngx-spinner name="coupon" template="<img src='/../../assets/applepie-loader.gif' />">
    <p style="color: white"> Getting your pies... </p>
</ngx-spinner>

<ngx-spinner name="pie" template="<img src='../../assets/applepie-loader.gif' />">
    <p style="color: white"> Pie is being made... </p>
</ngx-spinner>

<ngx-spinner name="default" type="ball-clip-rotate"></ngx-spinner>