<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand">McHizok</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsed-nav-bar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="collapsed-nav-bar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/generate-register-link" routerLinkActive="active">Generate
                        Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>